<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826548347958-45579mq2vrikmmuoq0difcfr8s30ig9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826548347958-45579mq2vrikmmuoq0difcfr8s30ig9e</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ8wwHRDXNAid_OJIEeJhLo6PVoG1iy-U</string>
	<key>GCM_SENDER_ID</key>
	<string>826548347958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.calmcampus.CalmCampus</string>
	<key>PROJECT_ID</key>
	<string>calmcampus-30789</string>
	<key>STORAGE_BUCKET</key>
	<string>calmcampus-30789.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826548347958:ios:2fd9ac669fffd13a2ca497</string>
</dict>
</plist>